{% extends "base.html" %}

{% block content %}
<style>
    body {
        font-family: 'Open Sans', sans-serif;
        background-color: #f7f7f7;
        color: #333;
        margin: 0;
        padding: 0;
    }

    .container-session{
      padding-bottom: 2vh;
    }

    .container-form {
        max-width: 500px;
        margin: auto;
        padding: 0;
    }

    .form-group{
        padding: 0px;
        margin: 0px;
    }

    label{
        margin-top: 1vh;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .label_cadastro{
        margin-top: 5vh;
        margin-bottom: 5vh;
        text-align: center;
    }

    .btn {
        margin-top: 2vh;
        margin-bottom: 10vh;
        border-radius: 20vh;
    }
    
    .campo_textarea{
        resize: none;
        overflow-y: auto;
    }

</style>
<div class="container">
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}
        
        
        <div class="row label_cadastro">
            <div class="col-md-12">
                <h2>Cadastro de Motoristas</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="nome_completo">Nome Completo:</label>
                    {{ form.nome_completo }}
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="cpf">CPF:</label>
                    {{ form.cpf }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cnh">CNH:</label>
                    {{ form.cnh }}
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="nascimento">Data de Nascimento:</label>
                    {{ form.nascimento }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="cep">CEP:</label>
                    {{ form.cep }}
                </div>
            </div>

            <div class="col-md-7">
                <div class="form-group">
                    <label for="rua">Rua:</label>
                    {{ form.rua }}
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label for="numero_casa">Número da Casa:</label>
                    {{ form.numero_casa }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label for="bairro">Bairro:</label>
                    {{ form.bairro }}
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="cidade">Cidade:</label>
                    {{ form.cidade }}
                </div>
            </div>

            <div class="col-md-1">
                <div class="form-group">
                    <label for="estado">Estado:</label>
                    <select class="form-control" id="estado" name="estado">
                        {% for state in form.estado.field.queryset %}
                            <option value="{{ state.sigla }}">{{ state.sigla }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="telefone">Telefone Fixo:</label>
                    {{ form.telefone }}
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="celular">Celular:</label>
                    {{ form.celular }}
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Email:</label>
                    {{ form.email }}
                </div>
            </div>

        </div>

        <div class="form-group">
            <label for="observacoes">Observações:</label>
            {{ form.observacoes }}
        </div>

        <div class="form-group">
            <label for="cnh_foto">Foto CNH:</label>
            <input type="file" class="form-control-file" id="cnh_foto" name="cnh_foto">
        </div>

        <button type="submit" class="btn btn-success">Cadastrar</button>
    </form>
</div>

{%  endblock  %}

{% block scripts %}
<script>
    $(document).ready(function(){
        $('#cpf').mask('000.000.000-00', {reverse: true});
    });
</script>
{% endblock %}